/*-------------------------------
Typography
-------------------------------*/
$font: "Montserrat", sans-serif;

/*-------------------------------
Colors
-------------------------------*/
$white: #fff;
$black: #190f30;
$deg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
/*-------------------------------
Structure
-------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  font-family: $font;
  background: $deg;
  box-sizing: border-box;
  overflow-x: hidden;
}
