* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
    background: linear-gradient(#21C08B, #AB88FF);
}

/*-------------------------------
HEADER
-------------------------------*/

.header {
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    top: 0px;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 30px;
}

.header__menu {
    margin-right: 60px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    text-align: right;
    width: 100px;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li {
    margin:10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    display:flex;
    align-items: center;
}

.header__menu--profile img {
    width: 40px;
    margin-right: 8px;
}

.header__menu--profile p {
    margin: 0px;
    color: white;
    font-family: 'Muli', sans-serif;

}

/*-------------------------------
MAIN
-------------------------------*/

.main {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__title {
    color: white;
    font-size: 25px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 32px;
}

.categories__title {
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.input {
    border: 2px solid white;
    border-radius: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    background-color: rgba(255,255,255,0.2);
}

::placeholder {
    color: white;
}

/*-------------------------------
CAROUSEL
-------------------------------*/

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.carousel__container {
    white-space: nowrap;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-bottom: 10px;
}

.carousel-item {
    background-color: burlywood;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0.8;
}
.carousel-item__details img{
    width: 20px;
    display: inline-block;
}

.carousel-item__details img:hover {
    transform: scale(1.20);
}

.carousel-item__details p {
    color: white;
    font-family: 'Muli', sans-serif;
    display: block;
    font-size: 12px;
}

.carousel-item__details--title {
    font-weight: bold;
    font-size: 14px;
}

/*-------------------------------
FOOTER
-------------------------------*/

.footer {
    background-color: #AB88FF;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14;
    padding-left: 30px;
    text-decoration: none;
}


.footer a:hover {
    text-decoration: underline;
}

/*-------------------------------
LOGIN
-------------------------------*/

.login {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 5px 5px 40px #555;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.social-media--icon {
    width: 32px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;

}

.login__container--register a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-self: center;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.login__input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

/*-------------------------------
REGISTRO
-------------------------------*/

.register--iniciar {
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.register--iniciar:hover {
    text-decoration: underline;
}

/*-------------------------------
404
-------------------------------*/

.error__container {
    min-height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error--title {
    font-size: 60px;
    color: white;
    font-family: 'Muli', sans-serif;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 1s;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }

.error__container h3 {
    font-size: 20px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

/*-------------------------------
QUERYS
-------------------------------*/

@media only screen and (max-width: 600px) {
    .header{
      justify-content: center;
    }
    .login{
    margin-top: -2px;
    }
    .login__container{
      background-color: transparent;
      border: none;
      padding: 30px;
      width: 90%;
      box-shadow: none;
    }
    .login__container--remember-me{
      align-items: center;
    }
    .login__container--remember-me label{
      display: flex;
      align-items: center
    }
    .footer{
      align-items: flex-start;
      flex-direction: column;
      padding: 0px 21px;
      margin-top: -2px;
      justify-content: space-evenly;
    }
  }