<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1"name="viewport" />
    <meta http-equiv="X-UA-Compatible"content="ie=edge">
    <title>Regístrate</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header class="header">
    <img class="header__img"src="../img/logo.png"alt="">
    </header>
    <section class="login">
        <section class="login__container">
            <h2>Regístrate</h2>
            <form class="login__container--form" action="">
                <input class="login__input" type="text" name="" placeholder="Nombre" id="">
                <input class="login__input" type="text" name="" placeholder="Correo" id="">
                <input class="login__input" type="password" name="" placeholder="Contraseña" id="">
                <button class="button">Registrarme</button>
        </form>
        <a class="register--iniciar" href="/">Iniciar Sesión</a>
    </section>
</section>
</body>
</html>